{% extends 'account/main.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="py-4">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="d-grid gap-2 d-flex justify-content-between">
            <button type="submit" class="btn btn-outline-light btn-lg px-5" name="action">{% trans "Change Password" %}</button>

        
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

        
          </div>
    </form>
{% endblock %}

