{% extends 'main.html' %}
{% load static %}
{% block content %}


    <!-- Start Page Title Area -->
    <section class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h1>About Us</h1>
            </div>
        </div>

        <div class="shape2"><img src="{% static 'img/shape/shape2.png' %}" alt="image"></div>
        <div class="shape3"><img src="{% static 'img/shape/shape3.png' %}" alt="image"></div>
        <div class="shape5"><img src="{% static 'img/shape/shape5.png' %}" alt="image"></div>
        <div class="shape6"><img src="{% static 'img/shape/shape6.png' %}" alt="image"></div>
        <div class="shape7"><img src="{% static 'img/shape/shape7.png' %}" alt="image"></div>
        <div class="shape8"><img src="{% static 'img/shape/shape8.png' %}" alt="image"></div>
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </section>
    <!-- End Page Title Area -->

    <!-- Start About Area -->
    <section class="about-area ptb-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-image">
                        <img src="{% static 'img/about-img1.jpg" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <div class="content">
                            <span class="sub-title">About Us</span>
                            <!-- <h2>Enjoy Full-Service Bitcoin Mining Expertise</h2> -->
                            <p>
                                {{site.name}} was founded in 2000 by Ackerley Warren and few other, Swedish, German , American and Spanish professional traders, analyst, real estate developers and agriculturist.
<br>
                                Focusing mainly on cryptocurrency trading over multiple exchange and marketing. 
                              We add value to the team of like minded businessmen and women that specialize in bitcoin mining.
                              Our company has been growing fast, by expanding trade in the industry and mining technology, rolling more elite traders and minors respectively.
                              We help to educate, provide services to secure and protect ultimate profit from this emerging industry.
                              We also welcome everyone all over the world to join our company and start earning passive income by taking advantage of our expertise in bitcoin mining and cryptocurrency trading .
                              We deal in bitcoin trading,forest trading, real estate management, banking investment, agricultural revenue, oil and gas, cannabis and gold to generate profit which we pay our investors daily.
                              
                              </p>
                            <p>
                                Recently our company made a successful attempt in the international technology market with an offer of profitable investment in financial investment. Our main aim is to provide safe and secure returns to there investors with effective and profitable trading and mining solutions where the investors need little or no experience at all about the same.
                           
                            </p>
                            <ul class="funfacts-list">
                                <li>
                                    <div class="list">
                                        <i class="flaticon-menu-1"></i>
                                        <h3 class="odometer" data-count="3673">00</h3>
                                        <p>Online Investors</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="list">
                                        <i class="flaticon-web-settings"></i>
                                        <h3 class="odometer" data-count="7548">00</h3>
                                        <p>Total Recurring Deposits</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="list">
                                        <i class="flaticon-conversation"></i>
                                        <h3 class="odometer" data-count="4273">00</h3>
                                        <p>Recurring Investments</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->

{%endblock content%}