{% extends 'main.html' %}{% load static %}{% block content %}
  <!-- Start Page Title Area -->
  <section class="page-title-area">
   <div class="container">
    <div class="page-title-content">
     <h1>
      About Us
     </h1>
    </div>
   </div>
   <div class="shape2">
    <img alt="image" src="{% static 'img/shape/shape2.png' %}"/>
   </div>
   <div class="shape3">
    <img alt="image" src="{% static 'img/shape/shape3.png' %}"/>
   </div>
   <div class="shape5">
    <img alt="image" src="{% static 'img/shape/shape5.png' %}"/>
   </div>
   <div class="shape6">
    <img alt="image" src="{% static 'img/shape/shape6.png' %}"/>
   </div>
   <div class="shape7">
    <img alt="image" src="{% static 'img/shape/shape7.png' %}"/>
   </div>
   <div class="shape8">
    <img alt="image" src="{% static 'img/shape/shape8.png' %}"/>
   </div>
   <div class="lines">
    <div class="line">
    </div>
    <div class="line">
    </div>
    <div class="line">
    </div>
   </div>
  </section>
  <!-- End Page Title Area -->
  <!-- Start About Area -->
  <section class="about-area ptb-100">
   <div class="container-fluid">
    <div class="row">
     <div class="col-lg-6 col-md-12">
      <div class="about-image">
       <img alt="image" src="{% static 'img/about-img1.jpg' %}"/>
      </div>
     </div>
     <div class="col-lg-6 col-md-12">
      <div class="about-content">
       <div class="content">
        <span class="sub-title">
         About Us
        </span>
        <h2>
         Enjoy Full-Service Bitcoin Mining Expertise
        </h2>
        <p>
         As a firm focused on the integration of AI and VR, {{site.name}} remains the first
                                decentralized company to put together the best returns on minings for her users.
         <br/>
         We pride in being able to provide unlimited mining infrastructures for our users with
                                high and efficient mining hash.
                                {{site.name}} was founded in 2017 by group of expert blockchain developers.
                                After long consultations and analytical investigations on
                                the challenges in the industry, it was decided to create a company, which could fill
                                unsatisfied demand in the area of bitcoin mining.
        </p>
        <p>
         Clients who have entrusted us with using our mining packages get an opportunity to
                                minimize their risks (regardless of the chosen mining packages), and this represents
                                one of our primary targets.
        </p>
        <ul class="funfacts-list">
         <li>
          <div class="list">
           <i class="flaticon-menu-1">
           </i>
           <h3 class="odometer" data-count="3673">
            00
           </h3>
           <p>
            Online Investors
           </p>
          </div>
         </li>
         <li>
          <div class="list">
           <i class="flaticon-web-settings">
           </i>
           <h3 class="odometer" data-count="7548">
            00
           </h3>
           <p>
            Total Recurring Deposits
           </p>
          </div>
         </li>
         <li>
          <div class="list">
           <i class="flaticon-conversation">
           </i>
           <h3 class="odometer" data-count="4273">
            00
           </h3>
           <p>
            Recurring Investments
           </p>
          </div>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
  <!-- End About Area -->
  <!-- Start History Area -->
  <!-- <section class="history-area ptb-100 bg-f9f9f9">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Our History</span>
                <h2>History Begins In 2017</h2>
            </div>

            <ol class="timeline history-timeline">
                <li class="timeline-block">
                    <div class="timeline-date">
                        <span>2017</span>
                        February 20
                        <sup>th</sup>
                    </div>

                    <div class="timeline-icon">
                        <span class="dot-badge"></span>
                    </div>

                    <div class="timeline-content">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-12">
                                <div class="content">
                                    <h3>Founded</h3>
                                    <p>
                                        Real innovations and a positive customer experience are the heart of successful
                                        communication.
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-12">
                                <div class="image">
                                    <img src="https://{{site.name}}.com/home/img/history/history-img1.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="timeline-block">
                    <div class="timeline-date">
                        <span>2018</span>
                        January 14
                        <sup>th</sup>
                    </div>

                    <div class="timeline-icon">
                        <span class="dot-badge"></span>
                    </div>

                    <div class="timeline-content">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-12">
                                <div class="content">
                                    <h3>Global Success</h3>
                                    <p>
                                        Scalability was our priority and we got our target after raising our first Series
                                        A funding round of $150M putting our valuation at $350M
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-12">
                                <div class="image">
                                    <img src="https://{{site.name}}.com/home/img/history/history-img2.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="timeline-block">
                    <div class="timeline-date">
                        <span>2019</span>
                        March 25
                        <sup>th</sup>
                    </div>

                    <div class="timeline-icon">
                        <span class="dot-badge"></span>
                    </div>

                    <div class="timeline-content">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-12">
                                <div class="content">
                                    <h3>Founded Data Office</h3>
                                    <p>
                                        In 2016, we founded our Data center based off in Bulgaria. This houses all our investors'
                                        information fully encrypted on a one way hashing protocol.
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-12">
                                <div class="image">
                                    <img src="https://{{site.name}}.com/home/img/history/history-img3.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="timeline-block">
                    <div class="timeline-date">
                        <span>2020</span>
                        December 10
                        <sup>th</sup>
                    </div>

                    <div class="timeline-icon">
                        <span class="dot-badge"></span>
                    </div>

                    <div class="timeline-content">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-12">
                                <div class="content">
                                    <h3>Scaling</h3>
                                    <p>
                                        In 2020, we raised a second round of Series B, putting our company at the forefront
                                        with over $2B in valuation.
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-12">
                                <div class="image">
                                    <img src="https://{{site.name}}.com/home/img/history/history-img4.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </section> -->
  <!-- End History Area -->
  {% endblock content %}